body {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #371e03, #6f370f, #5a270f);  /* Coffee shades */
  margin: 0;
  padding: 0;
  color: #f5e6cc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: -20px;
  text-align: center;
  color: #f5e6cc;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.controls {
  width: 49%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 25px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.controls button {
  padding: 12px 24px;
  background-color: #e6d9bb;
  color: #000000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.controls button:hover {
  background-color: #d8c9a6;
  transform: scale(1.05);
}

#status {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  color: #f5e6cc;
}

svg {
  display: block;
  margin: 0 auto;
  background: #fff8e7;
  border: 1px solid #271105;
  border-radius: 12px;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.15);
}

.bar {
  fill: #c49e70;
  transition: fill 0.3s;
}

.bar.current {
  fill: #a67c52;
}

.bar.min {
  fill: #8b4513;
}

.bar.sorted {
  fill: #582609;
}

.slider-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  color: #f5e6cc;
}


